.App {
  text-align: center;
}
.App-header {
  margin: 30px 0;
}
.App-footer {
  text-align: center;
  margin: 30px 0px;
  font-size: small;
}
.App-logo {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.link {
  color: #61dafb;
  text-decoration: none;
}
.link:hover {
  color:  #ffc93c;
  text-decoration: none;
}

#resources {
  color: #f9f5ff;
}
.App{
  font-family: 'Raleway', sans-serif;
}